$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: rgb(36, 41, 47);
$primaryColor: rgba(255, 255, 255, 0.7);
$primaryDark: #560027;
$primaryLight: #bc477b;
$disabledBackground: rgb(177, 175, 175);
$disabledColor: #666;
$valid: #4caf50;
$invalid: #ef5350;
