@import "../styles/colors.scss";

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

input[type="password"],
input[type="email"] {
  &:focus {
    outline-color: $primaryDark;
  }
}
